<!DOCTYPE html>
<head>
</head>
<body>
    <form>
        <label>Name</label>
        <input type="text" id="n1" name="name">
        <label>number</label>
        <input type="number" id ="n2" name="number">
        <label>Email:</label>
        <input type="text" id ="n3" name="email"> 
        <button type="button" id="b1">Enter</button>
    </form>
    <div id="newdiv"></div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('b1').addEventListener("click",postdata)
        function postdata(event){
            console.log("hello")
            event.preventDefault()
            var naam=document.getElementById('n1').value
            var num=document.getElementById('n2').value
            var mail=document.getElementById('n3').value
            console.log("Name is ,",naam,"number is ",num,"email is",mail)
            axios.post('http://localhost:3000/post',{name:naam,number:num,email:mail})
            .then(response=>console.log("response is",response))
            .catch(err=>console.log(err))
        }



        
        function onscreen(){
            axios.get('http://localhost:3000/get')
            .then(response =>{
                data=response.data.data;
                console.log(data)
                const divelement=document.getElementById("newdiv")
                console.log("sdsad",data.id)

                for(let i=0;i<data.length;i++){
                    console.log("hello inside for loop")
                    let id=data[i].id
                    let name=data[i].name
                    let email=data[i].email
                    let number=data[i].number
                    let s=name+"  "+email+"  "+number
                    console.log(s)
                    var para_element = document.createElement('p');
                    para_element.setAttribute("id",id);
                    node=document.createTextNode(s);
                    para_element.appendChild(node);
                    divelement.appendChild(para_element)
                }
    }).catch(err=>console.log(err))
    }
    document.addEventListener("DOMContentLoaded", function (event) {
    console.log("vscode");
    event.preventDefault();
    onscreen()  
    });
    </script>
        
    
</body>
</html>